html, body {
    height: 100%;
    width: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: row-reverse;
}

.center {
    width: 50%;
    height: 100%;
    background-color: white;
}

.info {
    width: 50%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.title {
    font-size: 30pt;
    font-weight: bold;
}

.description {
    font-size: 20pt;
}

.ui.secondary.button {
    color: white;
    background-color: green;
    margin: 10px;
    width: 65%;
    height: 15%;
    border-radius: 5px;
    transition: .3s;
}

.ui.secondary.button:hover {
    background-color: limegreen;
}

.mini-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.ui.left.icon.input {
    padding: 5px;
    width: 65%;
    height: 15%;
    border-radius: 5px;
}

.input {
    display: flex;
    height: 40%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 10%;
    width: 65%;
    color: #ED2939;
    margin: 1px;
}

.big.error {
    margin-bottom: 15px;
}

a {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.ui.secondary.button.reg {
    height: 60%;
}