html, body {
    height: 100%;
    width: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: row-reverse;
}

.center {
    width: 50%;
    height: 100%;
    background-color: white;
}

.info {
    width: 50%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.title {
    font-size: 30pt;
    font-weight: bold;
}

.description {
    font-size: 20pt;
}

.ui.secondary.button {
    color: white;
    background-color: green;
    margin: 10px;
    width: 65%;
    height: 15%;
    border-radius: 5px;
    transition: .3s;
}

.ui.secondary.button:hover {
    background-color: limegreen;
}

.mini-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.ui.left.icon.input {
    padding: 5px;
    width: 65%;
    height: 15%;
    border-radius: 5px;
}

.input {
    display: flex;
    height: 40%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 10%;
    width: 65%;
    color: #ED2939;
    margin: 1px;
}

.big.error {
    margin-bottom: 15px;
}

.ui.secondary.button.register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.secondary.button.register {
    height: 6.3%;
}

#register-modal {
    width: 550px;
    height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid black;
    z-index: 3;
}

#overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    cursor: pointer; 
}

.fill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

#close-button {
    background-color: black;
    height: 36px;
    width: 36px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.close {
    color: whitesmoke;
}

.error {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    width: 490px;
    color: #ED2939;
}

.reg {
    padding: 10px;
    margin: 2px;
    height: 10%;
}

.top {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    width: 100%;
}

.modal-content {
    height: 100%;
}

.ui.left.icon.input.reg {
    height: 10%;
    width: 75%;
    display: flex;
}

.ui.secondary.button.reg {
    height: 9%;
    width: 75%;
}

.form {
    padding: 10px;
    margin: 2px;
}