html, body {
    height: 94vh;
    background-color: #121212; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    color: #E2E2E2;
    font-family: sans-serif;
    font-size: 24px;
}

.ui.table {
    margin: 40px;
}