#header {
    color: white; 
    display: flex;
    flex:1;
    justify-content: center;
}


body{
    background-color: black;
}

.navigation {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.left {
    display: flex;
}

.right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.text {
    padding: 10px;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    color: black;
    background-color: white;
}

.GreenCont{
    display: flex;
    flex: 1;
    justify-content: center;
}

#dgreen{
    margin-right: 100px;
    margin-left: 100px;
}
#green{
    margin-right: 100px;
}
#lgreen{
    margin-right: 100px;
}
#llgreen{
    margin-right: 100px;
    
}


 li{
    font-family: sans-serif;
    font-size: 100%;
    display: inline-block;
    color: black;
    padding: 10px 20px 10px 20px;            
    height: 15px;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.body{
    margin-top: 20px;
    margin-left: 10%;
}

.label{
    font-size: 16px;
    font-weight: 600;
}

.labelval{
    font-size: 16px;
}

.ui.segment{
    margin-left: 20%;
    margin-right: 20%;
}

/*#thirdflr{
    margin-left: 100px; 
    width:500px;
}
#forthflr{
    margin-left: 100px;
     width:500px;
}*/

#prevbtn{
   margin-right: 300px;
}


#nextbtn{
    margin-left: 200px;
}


