html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    height: 89vh;
}

/* Nav Bar Part */
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
}


.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.button {
    background-color: transparent;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    padding: 20px;
    transition: 0.3s;
    border: none;
}

.button:hover {
    background-color: #50c878;
    cursor: pointer;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.right-item-button {
    float: right;
    color: white;
    position: relative;
    font-size: 20px;
    padding: 20px;
    transition: 0.3s;
}

.right-item-button:hover {
    background-color: #50c878;
    cursor: pointer;
}

.right-item {
    height: auto;
    width: auto;
    color: white;
    font-size: 20px;
}

.reserve-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.left-container {
    background-color: whitesmoke;
    height: 97%;
    width: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    padding-bottom: 50px;
}

#date-title {
    padding-left: 30px;
    font-weight: bold;
    font-size: 20pt;
    margin-top: 10px;
}

#date-picker {
    padding: 20px;
}

#time-title {
    padding: 15px;
    font-weight: bold;
    font-size: 20pt;
}

#time-error {
    height: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ED2939;
    margin: 1px;
}

.right-container {
    background-color: whitesmoke;
    height: 97%;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.computer-rows {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.computer {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.search-side {
    height: 75%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-button {
    color: white;
    background-color: green;
    border: none;
    height: 50px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
}

.number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.labNum {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 5px;
    background-color: green;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.button.ui.button:focus {
    background-color: #5BC236;
}

#start-time, #end-time {
    width: 550px;
}

p.blurb {
    font-weight: normal;
    font-size: 15px;
    padding-left: 30px;
    margin-top: 10px;
}