<html>
    
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="../css/conres.css">
    </head>

    <body> 
        <!-- this is the nav bar part -->
        <div class="header">
            <div class="left">
                <div id="logo">LAB.RES.SYS</div>
            </div>
            <div class="right">
                <form>
                    <div class="right-item">{{username}}</div>
                </form>
                <form method="POST" action="logout"> 
                    <input type="submit" class="button" value="Log Out"> 
                </form>
            </div>
        </div>

        <div class="details-container">
            <div class="details">
                <h1 class="text"> Confirm Reservation</h1>
                <p class="blurb">Confirm the information displayed below. 
                This will be used to make your reservation.</p>
                
                <div class="small">
                    <h4 class="text"> Name: Juan Dela Cruz </h4>      
                    <h4 class="text"> Email Address: juan_dela_cruz@dlsu.edu.ph </h4> 
                    <h4 class="text"> Gokongwei Laboratory: 1st Floor </h4> 
                    <h4 class="text"> Laboratory Seat: 12</h4>
                    <h4 class="text"> Date: July 11, 2018 </h4>  
                    <h4 class="text"> Start Time: 8:00 </h4> 
                    <h4 class="text"> End Time: 12:00 </h4>

                    <div class="buttons">
                        <form method="POST" action="okay">
                            <button class="ui button green"> Reserve </button>
                        </form>

                        <form method="GET" action="backselect"> 
                            <button class="ui button"> Cancel </button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>    
        
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>

    <script src="../semantic/semantic.min.js"></script>
    <script src="../js/conres.js"></script>
</html>
