<html>
    
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="../css/conres.css">
    </head>

    <body> 
        <!-- this is the nav bar part -->
        <div class="header">
            <div class="left">
                <div id="logo">LAB.RES.SYS</div>
                <form method="GET" action="home"> 
                    <input type="submit" class="button" value="Home"> 
                </form>
                {{!-- <form method="GET" action="/html/about"> 
                    <input type="submit" class="button" value="About"> 
                </form>
                <form method="GET" action="/html/faqs"> 
                    <input type="submit" class="button" value="FAQs"> 
                </form> --}}
            </div>
            <div class="right">
                <form>
                    <div class="right-item">{{username}}</div>
                </form>
                <form method="POST" action="logout"> 
                    <input type="submit" class="button" value="Log Out"> 
                </form>
            </div>
        </div>

        <div class="details-container">
            <div class="details">
                <h1 class="text"> Your Reservation</h1>
                <p class="blurb">Confirm the information displayed below. 
                This will be used to make your reservation.</p>
                
                <div class="small">
                    <h4 class="text"> Name <p>Juan Dela Cruz</p> </h4>      
                    <h4 class="text"> Email Address <p>juan_dela_cruz@dlsu.edu.ph</p></h4> 
                    <h4 class="text"> Gokongwei Laboratory<p>1st Floor</p></h4> 
                    <h4 class="text"> Laboratory Seat <p>12</p></h4>
                    <h4 class="text"> Date<p>July 11, 2018</p> </h4>  
                    <h4 class="text"> Start Time<p>8:00</p></h4> 
                    <h4 class="text"> End Time<p>12:00</p></h4>

                    <div class="buttons">
                        <form method="POST" action="okay">
                            <button class="ui button green"> Reserve </button>
                        </form>

                        <form method="GET" action="backselect"> 
                            <button class="ui button red"> Cancel </button>
                        </form> 
                    </div>
                </div>
            </div>
            
            

        </div>    
        
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>

    <script src="../semantic/semantic.min.js"></script>
    <script src="../js/conres.js"></script>
</html>
