
<html>
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="../css/home.css">
    </head>

    <body> 
       
        <!-- this is the nav bar part -->
        <div class="header">
            <div class="left">
                <a href="/home">
                    <div class="logo"> LAB.RES.SYS </div>
                </a>
            </div>
            <div class="right">
                <form class="right-item" method="POST" action="/logout"> 
                    <input type="submit" class="button" value="Log Out"> 
                </form>
                <a href="../reservation/reservations"> 
                    <div class="right-item reservations"> My Reservations</div>
                </a>
                <div class="right-item name">{{username}}</div>
            </div>
        </div>
    
        <div class="container">
            <div class="left-container">
                <div class="time-container">
                    <div id="time-title"> Choose Room </div>
                    <div class="ui selection dropdown" id="floors">
                        <input type="hidden" name="laboratory">
                        <i class="dropdown icon"></i>
                        <div class="default text">Gokongwei Laboratory Floor</div>
                        <div class="menu">
                            <div class="item" data-value="1">1st Floor</div>
                            <div class="item" data-value="2">2nd Floor</div>
                        </div>
                    </div>

                    <div id="date-title">Select Date</div>
                    <div class="calendar-container">
                        <div class="ui calendar" id="date-picker"></div>
                    </div>
                    
                    <div class="time-box">
                        <div class="start-container">
                            <div id="time-title-start"> Start Time </div>
                            <div class="ui calendar" id="start-time">
                                <div class="ui input left icon">
                                    <i class="time icon"></i>
                                    <input type="text" placeholder="Time">
                                </div>
                            </div> 
                        </div>
                        <div class="end-container">
                            <div id="time-title-start"> End Time </div>
                            <div class="ui calendar" id="end-time">
                                <div class="ui input left icon">
                                    <i class="time icon"></i>
                                    <input type="text" placeholder="Time">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="time-error"> {{time_error}} </div>
                </div>
                <div class="ui button search" id="search">Search</div>
            </div>
            
            <div class="right-container">
                <div class="computer-rows">
                    <div class="first row">
                        <button class="computer ui button" id="1">
                            <label> 01 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="2">
                            <label> 02 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="3">
                            <label> 03 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="4">
                            <label> 04 </label>
                            <img src="../img/rentable.png">
                        </button>
                    </div>
                    <div class="second row">
                        <button class="computer ui button" id="5">
                            <label> 05 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="6">
                            <label> 06 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="7">
                            <label> 07 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="8">
                            <label> 08 </label>
                            <img src="../img/rentable.png">
                        </button>
                    </div>
                    <div class="third row">
                        <button class="computer ui button" id="9">
                            <label> 09 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="10">
                            <label> 10 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="11">
                            <label> 11 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="12">
                            <label> 12 </label>
                            <img src="../img/rentable.png">
                        </button>
                    </div>
                    <div class="fourth row">
                        <button class="computer ui button" id="13">
                            <label> 13 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="14">
                            <label> 14 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="15">
                            <label> 15 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="16">
                            <label> 16 </label>
                            <img src="../img/rentable.png">
                        </button>                    
                    </div>
                    <div class="fifth row">
                        <button class="computer ui button" id="17">
                            <label> 17 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="18">
                            <label> 18 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="19">
                            <label> 19 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="20">
                            <label> 20   </label>
                            <img src="../img/rentable.png">
                        </button>                    
                    </div>    
                </div>
                <form id="confirmation" class="reserve-button" method="POST" action="../reservation/select">
                    <input id="username" type="hidden" name="Username" value="{{username}}">
                    <input id="floor" type="hidden" name="Floor">
                    <input id="date" type="hidden" name="Date">
                    <input id="slot" type="hidden" name="SeatNumber">
                    <input id="start" type="hidden" name="StartTime">
                    <input id="end" type="hidden" name="EndTime">
                    <input type="submit" class="button ui fluid green" value="Reserve">
                </form>
            </div>
        </div>
    </body>

    <script type="text/javascript"
            src="/../public/jquery-3.3.1.js"></script>
    <script type="text/javascript"
            src="/../semantic/semantic.min.js"></script>
    <script type="text/javascript" 
            src="../node_modules/semantic-ui-calendar/dist/calendar.min.js"></script>
    <script type="text/javascript" 
            src="../js/home.js"></script>
</html>