<html>
    <head>
    
    </head>

    <body>
        
        SUCCESSFULLY ADDED!
    <form action="notif" type="get">
        <input type="submit" value="OKAY">
               </form>
    </body>
</html>