<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="../css/register.css">
    </head>

    <body>
        
        <div class="container">
            <div class="center">
                <div class="top">
                    <a href="index"> 
                        <div class="close"> X </div>
                    </a>
                </div>
                <div class="mini-container">
                    <form class="fill" method="POST" action="add">
                        <h1 class="form"> REGISTER </h1>
                        <div class="ui left icon input form">
                                <input name="username" type="text" placeholder="Username">
                                <i class="user icon"></i>
                        </div>
                        <div class="error"> {{username_error}} </div>
                        <div class="ui left icon input form">
                                <input name="email" type="text" placeholder="E-mail Address">
                                <i class="envelope icon"></i>
                        </div>
                        <div class="error"> {{email_error}} </div>
                        <div class="ui left icon input form">
                                <input name="identification" type="password" placeholder="Password">
                                <i class="lock icon"></i>
                        </div>
                        <div class="error"> {{password_error}} </div>
                        
                        <input type="submit" class="ui secondary button form" value="Register"> 
                        <div class="error"> {{big_error}} </div>
                    </form>            
                </div>
            </div>
        </div>

    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            type="text/javascript"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>

    <script type="text/javascript"
            src="../semantic/semantic.min.js"></script>
</html>