<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="../css/reserve.css">        
    </head>

    <body> 
        <!-- this is the nav bar part -->
        <div class="header">
            <div class="left">
                <div id="logo">LAB.RES.SYS</div>
                
                <form method="GET" action="/html/home"> 
                    <input type="submit" class="button" value="Home"> 
                </form>
                {{!-- <form method="GET" action="/html/about"> 
                    <input type="submit" class="button" value="About"> 
                </form>
                <form method="GET" action="/html/faqs"> 
                    <input type="submit" class="button" value="FAQs"> 
                </form> --}}
            </div>
            <div class="right">
                <form>
                    <div class="right-item">{{username}}</div>
                </form>
                <form method="POST" action="/html/logout"> 
                    <input type="submit" class="button" value="Log Out"> 
                </form>
            </div>
        </div>

        <!-- step part -->
        <div class="steps-container">
            <div class="ui ordered steps">
                <div class="completed step">
                    <div class="content">
                        <div class="title">Laboratory</div>
                        <div class="description">Choose preferred laboratory room</div>
                    </div>
                </div>
                <div class="active step">
                    <div class="content">
                        <div class="title">Date, Time, and Seat</div>
                        <div class="description">Choose your preferred laboratory room and time slot</div>
                    </div>
                </div>
                <div class="disabled step">
                        <div class="content">
                            <div class="title">Confirm Reservation</div>
                        </div>
                </div>            
            </div>
        </div>    
        
        <!-- to be changed -->
        <div class="reserve-container">
            <div class="datetimeslot">
                <div id="date-title">
                    Select Date
                </div>

                <br>

                <div class="ui calendar" id="date-picker">
                </div>

                <div class="dt-container">
                    <div id="time-title">
                        Start Time
                    </div>
                    <div class="ui calendar" id="start-time">
                            <div class="ui input left icon">
                              <i class="time icon"></i>
                              <input type="text" placeholder="Time">
                            </div>
                          </div>

                    <div id="time-title">
                        End Time
                    </div>
                    <div class="ui calendar" id="end-time">
                        <div class="ui input left icon">
                            <i class="time icon"></i>
                            <input type="text" placeholder="Time">
                        </div>
                    </div>
                    
                    <br>

                    <div id="time-error"> </div>
                </div>
            </div>

            <div class="slots">
                <br>
                <br>
                <table id="table-slot">
                    <tr>
                        <td>
                            <div class="ui animated button" tabindex="0" id="1">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                1</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="6">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                6</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="11">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                11</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="16">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                16</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                       <td><div class="ui animated button" tabindex="0" id="2">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                2</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="7">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                7</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="12">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                12</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="17">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                17</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                       <td>
                           <div class="ui animated button" tabindex="0" id="3">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                3</div>
                           </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="8">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                8</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="13">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                13</div>
                             </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="18">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                18</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                       <td>
                           <div class="ui animated button" tabindex="0" id="4">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                4</div>
                           </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="9">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                9</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="14">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                14</div>
                             </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="19">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                19</div>
                            </div>
                        </td>
                    </tr>
                   <tr>
                       <td>
                           <div class="ui animated button" tabindex="0" id="5">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                5</div>
                           </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="10">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                10</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="15">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                15</div>
                             </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0" id="20">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                20</div>
                            </div>
                        </td>
                    </tr>
                </table>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <button id="prevbtn" class="ui button">Back</button>
            <button id="resbtn" class="ui primary button" style="float:right;">Search</button>
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            type="text/javascript"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>

    <script type="text/javascript"
            src="../semantic/semantic.min.js"></script>
    <script type="text/javascript" 
            src="../node_modules/semantic-ui-calendar/dist/calendar.min.js"></script>
    <script type="text/javascript" 
            src="../js/reserve.js"></script>
            
</html>