<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="../css/search.css">
    </head>

    <body>
        <!-- this is the nav bar part -->
        <div class="header">
            <div class="left">
                <div id="logo">LAB.RES.SYS</div>
                
                <form method="GET" action="/html/home"> 
                    <input type="submit" class="button" value="Home"> 
                </form>
                {{!-- <form method="GET" action="/html/about"> 
                    <input type="submit" class="button" value="About"> 
                </form>
                <form method="GET" action="/html/faqs"> 
                    <input type="submit" class="button" value="FAQs"> 
                </form> --}}
            </div>
            <div class="right">
                <form>
                    <div class="right-item">{{username}}</div>
                </form>
                <form method="POST" action="/html/logout"> 
                    <input type="submit" class="button" value="Log Out"> 
                </form>
            </div>
        </div>        

        <div class="reserve-container">
            <div class="datetimeslot">
                <div id="time-title">
                    Select Date
                </div>
                
                <div class="dt-container">
                    <input type="date">
                </div>

                <div id="time-title">
                    Select Time
                </div>

                <div class="dt-container">
                    <span>Start: </span><input type="time">
                    <span>End: </span><input type="time">
                </div>
            </div>

            <div class="slots">
                <br>
                <br>
                <table id="table-slot">
                    <tr>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                1</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                6</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                11</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                16</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                       <td><div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                2</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                7</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                12</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                17</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                       <td>
                           <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                3</div>
                           </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                8</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                13</div>
                             </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                18</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                       <td>
                           <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                4</div>
                           </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                9</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                14</div>
                             </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                19</div>
                            </div>
                        </td>
                    </tr>
                   <tr>
                       <td>
                           <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                5</div>
                           </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                10</div>
                            </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                15</div>
                             </div>
                        </td>
                        <td>
                            <div class="ui animated button" tabindex="0">
                              <div class="visible content"><i class="computer icon"></i></div>
                              <div class="hidden content">
                                20</div>
                            </div>
                        </td>
                    </tr>
                </table>
            
            <br>
            <br>
            <br>
            
            <button id="prevbtn" class="ui button">Back</button>
            <button id="resbtn" class="ui primary button" style="float:right;">Search</button>
            </div>
        </div>
        
    </body>
    <script type="text/javascript" 
            src="../js/reservations.js"></script> 
            
</html>