<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet" 
              href="../node_modules/semantic-ui-calendar/dist/calendar.min.css" />              
        <link rel="stylesheet"
              type="text/css"
              href="../css/select.css">
    </head>

    <body>
        <!-- this is the nav bar part -->
        <div class="header">
            <div class="left">
                <form action="okay" method="POST">
                    <input type="submit" id="logo" value="LAB.RES.SYS">
                </form>
            </div>
            <div class="right">
                <form>
                    <div class="right-item">{{username}}</div>
                </form>
                <form method="POST" action="logout"> 
                    <input type="submit" class="button" value="Log Out"> 
                </form>
            </div>
        </div>       

        <div class="container">
            <div class="left-container">
                <div class="date-container">
                    <div id="date-title">Reserve Slot</div>
                     <p class="blurb">Choose the date you want to reserve your laboratory slot.</p>
                    <div id="date-title">Select Date</div>
                    <div class="ui calendar" id="date-picker"> </div>
                </div>

                <div class="time-container">
                    <div id="time-title"> Start Time </div>
                    <div class="ui calendar" id="start-time">
                        <div class="ui input left icon">
                            <i class="time icon"></i>
                            <input type="text" placeholder="Time">
                        </div>
                    </div>

                    <div id="time-title"> End Time </div>

                    <div class="ui calendar" id="end-time">
                        <div class="ui input left icon">
                            <i class="time icon"></i>
                            <input type="text" placeholder="Time">
                        </div>
                    </div>

                    <div id="time-error"> {{time_error}} </div>

                </div>
                
            </div>
            
            <div class="right-container">
                <div class="computer-rows">
                    <div class="ui selection dropdown" id="floors">
                        <input type="hidden" name="laboratory">
                        <i class="dropdown icon"></i>
                        <div class="default text">Gokongwei Laboratory Floor</div>
                        <div class="menu">
                            <div class="item" data-value="1">1st Floor</div>
                            <div class="item" data-value="2">2nd Floor</div>
                        </div>
                    </div>
                    <br>
                    <div class="first row">
                        <button class="computer ui button" id="1">
                            <label> 01 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="2">
                            <label> 02 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="3">
                            <label> 03 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="4">
                            <label> 04 </label>
                            <img src="../img/rentable.png">
                        </button>
                    </div>
                    <div class="second row">
                        <button class="computer ui button" id="5">
                            <label> 05 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="6">
                            <label> 06 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="7">
                            <label> 07 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="8">
                            <label> 08 </label>
                            <img src="../img/rentable.png">
                        </button>
                    </div>
                    <div class="third row">
                        <button class="computer ui button" id="9">
                            <label> 09 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="10">
                            <label> 10 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="11">
                            <label> 11 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="12">
                            <label> 12 </label>
                            <img src="../img/rentable.png">
                        </button>
                    </div>
                    <div class="fourth row">
                        <button class="computer ui button" id="13">
                            <label> 13 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="14">
                            <label> 14 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="15">
                            <label> 15 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="16">
                            <label> 16 </label>
                            <img src="../img/rentable.png">
                        </button>                    
                    </div>
                    <div class="fifth row">
                        <button class="computer ui button" id="17">
                            <label> 17 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="18">
                            <label> 18 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="19">
                            <label> 19 </label>
                            <img src="../img/rentable.png">
                        </button>
                        <button class="computer ui button" id="20">
                            <label> 20   </label>
                            <img src="../img/rentable.png">
                        </button>                    
                    </div>

                    <form method="POST" action="select">
                        <br>
                        <button class="button ui fluid green" >Reserve</button>
                    </form>
                </div>
            </div>
        </div>

        
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            type="text/javascript"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript"
            src="../semantic/semantic.min.js"></script>
    <script type="text/javascript" 
            src="../node_modules/semantic-ui-calendar/dist/calendar.min.js"></script>
    <script type="text/javascript" 
            src="../js/reserve.js"></script>
            
</html>