<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="../css/selectRm.css">
    </head>

    <body> 
        <!-- this is the nav bar part -->
        <div class="header">
            <div class="left">
                <div id="logo">LAB.RES.SYS</div>
                
                <form method="GET" action="home"> 
                    <input type="submit" class="button" value="Home"> 
                </form>
                {{!-- <form method="GET" action="/html/about"> 
                    <input type="submit" class="button" value="About"> 
                </form>
                <form method="GET" action="/html/faqs"> 
                    <input type="submit" class="button" value="FAQs"> 
                </form> --}}
            </div>
            <div class="right">
                <form>
                    <div class="right-item">{{username}}</div>
                </form>
                <form method="POST" action="logout"> 
                    <input type="submit" class="button" value="Log Out"> 
                </form>
            </div>
        </div>     
        
        <div class="ui ordered steps">
          
          <div class="active step">
            <div class="content">
                <div class="title">Laboratory</div>
              <div class="description">Choose prefered laboratory room</div>
            </div>
          </div>
          <div class="step">
                    <div class="content">
                        <div class="title">Date, Time, and Seat</div>
                        <div class="description">Choose your preferred laboratory room and time slot</div>
                    </div>
                </div>
          <div class="step">
            <div class="content">
               <div class="title">Confirm Reservation</div>
            </div>
          </div>
        </div>
        
        <div class="ui segment">
<<<<<<< HEAD
            <p>
            <button method="GET" action="lab1"
                    id="lab1" 
                    class="ui button">Laboratory 1</button>    
            </p>
            <button id="lab2" class="ui button">Laboratory 2</button>  
=======
            <form action="lab" method="get">
                <button id="lab1" class="ui button">Laboratory 1</button>    
            </form>
            <form action="lab" method="get">
                <button id="lab2" class="ui button">Laboratory 2</button>  
            </form>
>>>>>>> 4b042fa14d32ada7611599e27cfbf147b881d408
        </div>
        
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>

    <script src="../semantic/semantic.min.js"></script>
</html>
