<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="../semantic/semantic.min.css">
        <link rel="stylesheet" 
              href="../node_modules/semantic-ui-calendar/dist/calendar.min.css" />              
        <link rel="stylesheet"
              type="text/css"
              href="../css/select.css">
    </head>

    <body>
        <!-- this is the nav bar part -->
        <div class="header">
            <div class="left">
                <div id="logo">LAB.RES.SYS</div>
                
                <form method="GET" action="home"> 
                    <input type="submit" class="button" value="Home"> 
                </form>
                {{!-- <form method="GET" action="/html/about"> 
                    <input type="submit" class="button" value="About"> 
                </form>
                <form method="GET" action="/html/faqs"> 
                    <input type="submit" class="button" value="FAQs"> 
                </form> --}}
            </div>
            <div class="right">
                <form>
                    <div class="right-item">{{username}}</div>
                </form>
                <form method="POST" action="logout"> 
                    <input type="submit" class="button" value="Log Out"> 
                </form>
            </div>
        </div>       

        <div class="container">
            <div class="left-container">
                <div class="date-container">
                    <div id="date-title"> Select Date</div>

                    <br>

                    <div class="ui calendar" id="date-picker"> </div>

                </div>

                <div class="time-container">
                    <div id="time-title"> Start Time </div>

                    <div class="ui calendar" id="start-time">
                        <div class="ui input left icon">
                            <i class="time icon"></i>
                            <input type="text" placeholder="Time">
                        </div>
                    </div>

                    <div id="time-title"> End Time </div>

                    <div class="ui calendar" id="end-time">
                        <div class="ui input left icon">
                            <i class="time icon"></i>
                            <input type="text" placeholder="Time">
                        </div>
                    </div>

                    <div id="time-error"> {{time_error}} </div>

                </div>
                
            </div>

            <div class="right-container">
                
                <div class="computer-rows">
                    <div class="first row">
                        <div class="computer">
                            <label> 1 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 2 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 3 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 4 </label>
                            <img src="../img/rentable.png">
                        </div>
                    </div>
                    <div class="second row">
                        <div class="computer">
                            <label> 5 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 6 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 7 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 8 </label>
                            <img src="../img/rentable.png">
                        </div>
                    </div>
                    <div class="third row">
                        <div class="computer">
                            <label> 9 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 10 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 11 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 12 </label>
                            <img src="../img/rentable.png">
                        </div>
                    </div>
                    <div class="fourth row">
                        <div class="computer">
                            <label> 13 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 14 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 15 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 16 </label>
                            <img src="../img/rentable.png">
                        </div>                    
                    </div>
                    <div class="fifth row">
                        <div class="computer">
                            <label> 17 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 18 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 19 </label>
                            <img src="../img/rentable.png">
                        </div>
                        <div class="computer">
                            <label> 20   </label>
                            <img src="../img/rentable.png">
                        </div>                    
                    </div>
                </div>

                <div class="search-side">
                    <div class="number-container">
                        <button class="labNum"> 1 </button>
                        <button class="labNum"> 2 </button>
                    </div>
                    
                    <form method="POST" action="select"> 
                        <button id="search-button"> Reserve </button>
                    </form>
                </div>
            </div>
        </div>

        
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            type="text/javascript"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript"
            src="../semantic/semantic.min.js"></script>
    <script type="text/javascript" 
            src="../node_modules/semantic-ui-calendar/dist/calendar.min.js"></script>
    <script type="text/javascript" 
            src="../js/reserve.js"></script>
            
</html>