 html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    height: 94vh;
}

/*** CSS for the nav bar ***/
.header {
    height: 13%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.logo {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

.right-item {
    margin: 5px;
    display: flex;
    align-items: center;
}

.right-item.name {
    color: white;
    font-size: 26px;
    padding: 20px;
}

.right-item.reservations {
    color: white;
    font-size: 26px;
    padding: 20px;
}

.button {
    margin-top: 5px;
    height: 60%;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    transition: 0.3s;
    border: none;
    font-size: 24px;
}

.button:hover {
    background-color: #50c878;
}

/*** CSS for the bottom part ***/

.container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.left-container {
    background-color: whitesmoke;
    height: 100%;
    width: 25%;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
}

.info {
    height: 5%;
    width: 100%;
}

.text {
    font-size: 24px;
    font-weight: 500;
}

.date-container {
    height: 30%;
    width: 100%;
    display: flex;
}

.right-container {
    background-color: whitesmoke;
    height: 100%;
    width: 50%;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.computer-rows {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.computer.ui.button {
    height: 85%;
}

.reserve-button {
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
}

.button.ui.fluid.green {
    height: 10%;
    margin: 5px;
    margin-bottom: 0px;
}

.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#reserve-title, #date-title {
    font-weight: bold;
    font-size: 16pt;
}

#date-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

#time-title {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 15px;
}

#time-error {   
    height: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ED2939;
}

.blurb {
    margin-top: 10px;
}

.default.text {
    font-size: 16px;
}

.calendar-container {
    height: 40%;
    width: 100%;
}

#date-picker {
    width: 95%;
    height: 100%;
}

.ui.input.left.icon {
    height: 10%;
}

.time-box {
    margin-top: 100px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.start-container, .end-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
}

#time-title-start {
    height: 30%;
    width: 100%;
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 30px;
    padding: 10px;
}

#start-time, #end-time {
    padding-left: 50px;
}

.search {
    height: 7%;
    width: 25%;
    background-color: green;
    align-items: center;
}