html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    height: 94vh;
}

/*** CSS for the nav bar ***/
.header {
    height: 13%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.logo {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

.right-item {
    margin: 5px;
    display: flex;
    align-items: center;
}

.right-item.name {
    color: white;
    font-size: 26px;
    padding: 20px;
}

.right-item.reservations {
    color: white;
    font-size: 26px;
    padding: 20px;
}

.button {
    margin-top: 5px;
    height: 60%;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    transition: 0.3s;
    border: none;
    font-size: 24px;
}

.button:hover {
    background-color: #50c878;
}

.ui.cards{
    display: flex;
    padding-left: 100px;

}
/*

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

a, a:hover { 
    color: white;
}

h1 {
    color: #E2E2E2;
    font-family: sans-serif;
    font-size: 24px;
}

tr.clickable.clicked > td {
    background-color: #00FF00;
}

.empty {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

#cancel {
    height: 40px;
    width: 15%;
    background-color: #121212;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cancel:hover {
    cursor: pointer;
}

#reserve {
    font-size: 18px;
}
*/